{% load static %}

<header class="bg-gradient-to-r from-cyan-600 to-teal-500 shadow text-center">
	<nav class="mx-auto px-3 py-4 max-w-8xl md:flex md:justify-around">
		<div class="py-4 flex justify-center">
			<a href={% url 'index' %} class="text-stone-800 focus:outline-none focus:text-pink-600 hover:text-pink-600 transition duration-500">
				<span class="material-icons">pets</span>
				<span class="text-3xl">Angel's Twilight Bark</span>
			</a>
		</div>

		<div class="py-4 space-x-4 flex justify-center align-center">
			{% if request.user.is_authenticated %}
				<!-- Account settings -->
				<div class="flex flex-col md:flex-row">
					<div class="h-10 w-10 mx-auto bg-stone-800 rounded-full">
						<img id="id_profile" src={% static 'profile_images/default_pic.png' %} alt="User profile pic" >
					</div>
					<a href={% url 'user:account' user_id=request.user.id %} class="md:px-5 py-2 hover:text-pink-600 transition duration-500">Account</a>
					<a href={% url 'user:logout' %} class="py-2 hover:text-pink-600 transition duration-500">Logout</a>
				</div>

			{% else %}
				<div class="flex flex-col md:flex-row justify-center md:space-x-6 flex-row">
					<a href={% url 'user:login' %} class="my-2 p-2 block text-xl text-stone-800 hover:text-pink-600 duration-500">Login</a>
					<a href={% url 'user:register' %} class="my-2 p-2 md:px-4 block text-xl bg-transparent border border-2 border-stone-800 rounded-lg text-stone-800 font-bold hover:bg-pink-600 hover:border-pink-600 hover:text-teal-500 duration-500">Register</a>
				</div>
			{% endif %}
		</div>
	</nav>
</header>
