{% extends 'TwilightBark/base.html' %}

{% block content %}

<div class="mx-auto mt-5 mb-20 w-1/2 flex flex-col">
    <h1 class="mt-10 mx-auto text-2xl ">{{ room_name}}</h1>
    <div class="m-5 flex flex-row-reverse text-teal-500">
        <span class="text-2xl font-normal" id="user_count"></span>
        <span class="mx-2 text-3xl material-icons">person_outline</span>
    </div>

    <!-- Actual location of chat messages -->
    <div id="chat_log"></div>

    <p id="page_number" class="text-center mb-3">Page 1</p>
    <input class="my-3 w-full rounded-lg border-none focus:ring-2 focus:ring-teal-500 text-teal-500 bg-stone-900" id="chat-message-input" type="text" aria-label="Enter your chat messages here"><br>
    <button id="chat-message-submit" type="submit" class="py-2 my-4 w-full rounded-lg bg-gradient-to-r from-cyan-600 to-teal-500 shadow font-bold text-stone-800 focus:outline-none hover:from-pink-600 hover:to-pink-600 focus:from-pink-600 focus:to-pink-600 duration-500">Submit</button>
    {{ room_name|json_script:"room-name" }}
</div>

<script src={% static 'js/room.js' %}></script>

{% endblock content %}
